
html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background: url("./static/img/2.jpg");
  background-attachment: fixed;
}

.App {
  text-align: center;
}



.jumbotron {
  background:
          url("./static/img/5.jpg");
  background-position: bottom;
  background-size: auto;
}


head

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
